* {
    padding:0;
    margin:0;
}

body {
    background-color: black;
    font-family: Tahoma, sans-serif;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url("./../images/5172658.jpg");
    background-repeat: no-repeat;
}

/* --------------------------------header-------------------------------- */


header ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
}

header li a{
    text-decoration: none;
    color:white;
    padding:1em;
}

.splitbar {
    width:85%;
    opacity:0.8;
    margin-top:2em;
}

#navbar {
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
}

header {
    width:95%;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index:100;
    position:fixed;
    top:0;
}

header .headerlogo {
    margin-right:1em;
}

header li a:hover {
    background-color: rgba(212, 194, 194, 0.11);
    opacity: 0.8;
    transition:0.2s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

/* --------------------------------main-------------------------------- */
.main {
    margin-top: 10em;
    color:white;
    display:flex;
    flex-direction: column;
}

/*  ------------------------------welcome--------------------------------*/

.welcome {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    min-height: 62vw;
}

#imgwelcome {
    border-radius: 50%;
    border:lightblue 5px solid;
    box-shadow: 0.2em 0.2em 0.2em lightblue;
    max-width: 20%;
}

.welcome h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    padding:1em;
}

.welcome p {
    margin-bottom:1em;
    padding:1em;
}

.down {
    margin-top: 1em;
}



/* --------------------------------About-------------------------------- */

.about {
    background-color: white;
    min-height: 62em;
}