* {
    padding:0;
    margin:0;
}

body {
    background-color: black;
    font-family: Tahoma, sans-serif;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url("./../images/5172658.jpg");
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}
/* --------------------------------header-------------------------------- */


header ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
}

header li a{
    text-decoration: none;
    color:white;
    padding:1em;
}

.splitbar {
    width:85%;
    opacity:0.8;
    margin-top:1.5em;
}

#navbar {
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
}

header {
    width:95%;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index:100;
    position:fixed;
    top:0;
}

header .headerlogo {
    margin-right:1em;
    margin-top: 0.3em;
}

header li a:hover {
    background-color: rgba(212, 194, 194, 0.11);
    opacity: 0.8;
    transition:0.2s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

/* --------------------------------main-------------------------------- */
.main {
    margin-top: 10em;
    color:white;
    display:flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/*  ------------------------------welcome--------------------------------*/

.welcome {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    min-height: 62vw;
}

#imgwelcome {
    border-radius: 50%;
    border:lightblue 5px solid;
    box-shadow: 0.2em 0.2em 0.2em lightblue;
    max-width: 20%;
}

.welcome h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    padding:1em;
}

.welcome p {
    margin-bottom:1em;
    padding:1em;
}

.down {
    margin-top: 1em;
}



/* --------------------------------About-------------------------------- */

.about {
    padding-top:100px;
    background-color: lightgray;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.bg {
    margin-right: 15%;
    margin-left: 15%;
    padding:2em;
    border-radius: 25%;
    display:flex;
    background-color: red;
    margin-top:5em;
    align-items: center;
    justify-content: space-around;
}

.bg p {
    text-align: center;
    max-width: 20%;
    margin-bottom: 12em;
    margin-top: 12em;
}

#aboutmeimg {
    border-radius: 50%;
    border: 2px solid black; /* a changer */
}

.about h1 {
    margin-bottom:2em;

}

#text {
    background-color: green;
    border-radius: 48% 52% 54% 46% / 38% 87% 13% 62%;
    padding:5em;
}

/* ------------------------------ Skills ------------------------ */

.tables {
    display:flex;
    justify-content: space-around;
    width:100%;
}

.tables ul {
    list-style: none;

}

.tables li{
    padding:1em;
}

.skills {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
}


.skills h1 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.tables .domaine {
    color:red;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}

/* ------------------ Exeperiences ---------------------------- */

.experiences {
    background-color: lightgreen;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:110px;
}

.job li{
    list-style: none;
    padding:1em;
}

.cardjob {
    background-color:red;
    border: 2px solid black;
    margin-top:3em;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
}

#imgjob1 {
    height:80%;
    width:40%;
    padding:1em;
}
